.PokeCard-contianer {
  width: 123px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.37);
  p {
    margin-top: 5px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    font-size: 0.75rem;
  }
  p:nth-child(3) {
    margin-bottom: 10px;
  }
}

.PokeCard-img {
  width: 94px;
  height: 77px;
  margin-top: 18px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  display: flex;
  flex-direction: column;
  img {
    object-fit: contain;
    overflow: hidden;
  }
}

.PokeCard-types__container {
  width: 100%;
  display: flex;
  margin-bottom: 8px;
  justify-content: space-around;
}

.types {
  width: 45%;
  height: 20px;
  border-radius: 12px;
  color: white;
  font-weight: bold;
  text-align: center;
}
