.Layout-container {
  width: 90%;
  height: 570px;
  margin: 10px auto;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.37);
}

.x-Icon {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 10%;
  margin-top: 30px;
  stroke: white;
}
.close {
  display: hidden;
}
