.Layout-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0%;
  right: 0;
  border: 1px solid black;
  background-color: white;
  border-radius: 15px;
}

.x-Icon {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 10%;
  margin-top: 30px;
  stroke: white;
}
.close {
  display: hidden;
}
