.Layout-container {
  width: 90%;
  height: 537px;
  position: fixed;
  top: 5%;
  margin-top: 5px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.37);
}
