.Navbar {
  display: flex;
  min-width: 240px;
  height: 41px;
  position: fixed;
  bottom: 24px;
  left: 50%;
  padding: 0;
  transform: translate(-50%, 0);
  border-radius: 15px;
  border: 1.5px solid #000;
  background-color: white;
  z-index: 1;
}

.Navbar-elements {
  width: 100%;
  padding: 0;
  display: flex;
  align-self: center;
  justify-content: space-around;
  list-style-type: none;
  li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 41px;
  }
  .Navbar-team {
    border-radius: 15px 0px 0px 15px;
    img {
      width: 30px;
      height: 30px;
    }
  }
  .Navbar-home {
    border-left: 1.5px solid #000;
    border-right: 1.5px solid #000;
    img {
      width: 30px;
      height: 30px;
    }
  }
  .Navbar-back {
    border-radius: 0px 15px 15px 0px;

    background: #fff;
    img {
      width: 30px;
      height: 30px;
    }
  }

  a {
    color: black;
    text-decoration: none;
  }
}
